<a href="https://colab.research.google.com/github/huseinibnu/KPT_Kel_2/blob/main/KPT_Kel_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Link raw dari GitHub
url1 = 'https://raw.githubusercontent.com/huseinibnu/KPT_Kel_2/main/1_jan20_jun20.csv'
url2 = 'https://raw.githubusercontent.com/huseinibnu/KPT_Kel_2/main/2_jul20_des20.csv'
url3 = 'https://raw.githubusercontent.com/huseinibnu/KPT_Kel_2/main/3_jan21_jun21.csv'
url4 = 'https://raw.githubusercontent.com/huseinibnu/KPT_Kel_2/main/4_jul21_des21.csv'
url5 = 'https://raw.githubusercontent.com/huseinibnu/KPT_Kel_2/main/5_jan22_jun22.csv'
url6 = 'https://raw.githubusercontent.com/huseinibnu/KPT_Kel_2/main/6_jul22_des22.csv'
url7 = 'https://raw.githubusercontent.com/huseinibnu/KPT_Kel_2/main/7_jan23_jun23.csv'
url8 = 'https://raw.githubusercontent.com/huseinibnu/KPT_Kel_2/main/8_jul23_des23.csv'
url9 = 'https://raw.githubusercontent.com/huseinibnu/KPT_Kel_2/main/9_jan24_sep24.csv'

In [3]:
data1 = pd.read_csv(url1)
data2 = pd.read_csv(url2)
data3 = pd.read_csv(url3)
data4 = pd.read_csv(url4)
data5 = pd.read_csv(url5)
data6 = pd.read_csv(url6)
data7 = pd.read_csv(url7)
data8 = pd.read_csv(url8)
data9 = pd.read_csv(url9)

In [4]:
# import pandas as pd

# # Buka file CSV
# file_path = '/content/drive/MyDrive/Dataset KPT 2/7_jan23_jun23_old.csv'

# # Membaca file sebagai teks dan memisahkan baris secara manual
# with open(file_path, 'r', encoding='utf-8') as file:
#     lines = file.readlines()

# # Memproses header untuk menghilangkan tanda kutip
# header = [col.strip('"') for col in lines[0].strip().split(',')]

# # Memproses setiap baris data dan menghilangkan tanda kutip dari setiap elemen
# data = [ [elem.strip('"') for elem in line.strip().split(',', maxsplit=len(header)-1)] for line in lines[1:] ]

# # Membuat DataFrame baru dengan header dan data
# data7 = pd.DataFrame(data, columns=header)

# # Menyimpan DataFrame ke file CSV baru tanpa tanda kutip
# output_file = '/content/drive/MyDrive/Dataset KPT 2/7_jan23_jun23.csv'
# data7.to_csv(output_file, index=False, na_rep='')

In [5]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2010 entries, 0 to 2009
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      2010 non-null   int64
 1   created_at               2010 non-null   object
 2   favorite_count           2010 non-null   int64
 3   full_text                2010 non-null   object
 4   id_str                   2010 non-null   int64
 5   image_url                214 non-null    object
 6   in_reply_to_screen_name  1079 non-null   object
 7   lang                     2010 non-null   object
 8   location                 1414 non-null   object
 9   quote_count              2010 non-null   int64
 10  reply_count              2010 non-null   int64
 11  retweet_count            2010 non-null   int64
 12  tweet_url                2010 non-null   object
 13  user_id_str              2010 non-null   int64
 14  username                 2010 non-null   object
dtypes: int64(7), object(8)
memory usage: 235.7+ KB

In [6]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      553 non-null    int64
 1   created_at               553 non-null    object
 2   favorite_count           553 non-null    int64
 3   full_text                553 non-null    object
 4   id_str                   553 non-null    int64
 5   image_url                65 non-null     object
 6   in_reply_to_screen_name  346 non-null    object
 7   lang                     553 non-null    object
 8   location                 377 non-null    object
 9   quote_count              553 non-null    int64
 10  reply_count              553 non-null    int64
 11  retweet_count            553 non-null    int64
 12  tweet_url                553 non-null    object
 13  user_id_str              553 non-null    int64
 14  username                 553 non-null    object
dtypes: int64(7), object(8)
memory usage: 64.9+ KB

In [7]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3024 entries, 0 to 3023
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      3024 non-null   object
 1   created_at               3024 non-null   object
 2   favorite_count           3024 non-null   int64
 3   full_text                3024 non-null   object
 4   id_str                   3024 non-null   int64
 5   image_url                418 non-null    object
 6   in_reply_to_screen_name  1787 non-null   object
 7   lang                     3024 non-null   object
 8   location                 2131 non-null   object
 9   quote_count              3024 non-null   int64
 10  reply_count              3024 non-null   int64
 11  retweet_count            3024 non-null   int64
 12  tweet_url                3024 non-null   object
 13  user_id_str              3024 non-null   object
 14  username                 3024 non-null   object
dtypes: int64(5), object(10)
memory usage: 354.5+ KB

In [8]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5031 entries, 0 to 5030
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      5031 non-null   float64
 1   created_at               5031 non-null   object
 2   favorite_count           5031 non-null   int64
 3   full_text                5031 non-null   object
 4   id_str                   5031 non-null   float64
 5   image_url                751 non-null    object
 6   in_reply_to_screen_name  2339 non-null   object
 7   lang                     5031 non-null   object
 8   location                 3533 non-null   object
 9   quote_count              5031 non-null   int64
 10  reply_count              5031 non-null   int64
 11  retweet_count            5031 non-null   int64
 12  tweet_url                5031 non-null   object
 13  user_id_str              5031 non-null   float64
 14  username                 5031 non-null   object
dtypes: float64(3), int64(4), object(8)
memory usage: 589.7+ KB

In [9]:
data5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      2500 non-null   int64
 1   created_at               2500 non-null   object
 2   favorite_count           2500 non-null   int64
 3   full_text                2500 non-null   object
 4   id_str                   2500 non-null   int64
 5   image_url                290 non-null    object
 6   in_reply_to_screen_name  1308 non-null   object
 7   lang                     2500 non-null   object
 8   location                 1704 non-null   object
 9   quote_count              2500 non-null   int64
 10  reply_count              2500 non-null   int64
 11  retweet_count            2500 non-null   int64
 12  tweet_url                2500 non-null   object
 13  user_id_str              2500 non-null   int64
 14  username                 2500 non-null   object
dtypes: int64(7), object(8)
memory usage: 293.1+ KB

In [10]:
data6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2856 entries, 0 to 2855
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      2856 non-null   float64
 1   created_at               2856 non-null   object
 2   favorite_count           2856 non-null   int64
 3   full_text                2856 non-null   object
 4   id_str                   2856 non-null   float64
 5   image_url                420 non-null    object
 6   in_reply_to_screen_name  1302 non-null   object
 7   lang                     2856 non-null   object
 8   location                 1800 non-null   object
 9   quote_count              2856 non-null   int64
 10  reply_count              2856 non-null   int64
 11  retweet_count            2856 non-null   int64
 12  tweet_url                2856 non-null   object
 13  user_id_str              2856 non-null   float64
 14  username                 2856 non-null   object
dtypes: float64(3), int64(4), object(8)
memory usage: 334.8+ KB

In [11]:
data7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2669 entries, 0 to 2668
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      2669 non-null   int64
 1   created_at               2669 non-null   object
 2   favorite_count           2669 non-null   int64
 3   full_text                2669 non-null   object
 4   id_str                   2669 non-null   int64
 5   image_url                430 non-null    object
 6   in_reply_to_screen_name  1518 non-null   object
 7   lang                     2669 non-null   object
 8   location                 1746 non-null   object
 9   quote_count              2666 non-null   object
 10  reply_count              2666 non-null   object
 11  retweet_count            2666 non-null   float64
 12  tweet_url                2666 non-null   object
 13  user_id_str              2666 non-null   object
 14  username                 2666 non-null   object
dtypes: float64(1), int64(3), object(11)
memory usage: 312.9+ KB

In [12]:
data8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      493 non-null    int64
 1   created_at               493 non-null    object
 2   favorite_count           493 non-null    int64
 3   full_text                493 non-null    object
 4   id_str                   493 non-null    int64
 5   image_url                83 non-null     object
 6   in_reply_to_screen_name  223 non-null    object
 7   lang                     493 non-null    object
 8   location                 346 non-null    object
 9   quote_count              493 non-null    int64
 10  reply_count              493 non-null    int64
 11  retweet_count            493 non-null    int64
 12  tweet_url                493 non-null    object
 13  user_id_str              493 non-null    int64
 14  username                 493 non-null    object
dtypes: int64(7), object(8)
memory usage: 57.9+ KB

In [13]:
data9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2313 entries, 0 to 2312
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      2313 non-null   float64
 1   created_at               2313 non-null   object
 2   favorite_count           2313 non-null   int64
 3   full_text                2313 non-null   object
 4   id_str                   2313 non-null   float64
 5   image_url                401 non-null    object
 6   in_reply_to_screen_name  1061 non-null   object
 7   lang                     2313 non-null   object
 8   location                 1596 non-null   object
 9   quote_count              2313 non-null   int64
 10  reply_count              2313 non-null   int64
 11  retweet_count            2313 non-null   int64
 12  tweet_url                2313 non-null   object
 13  user_id_str              2313 non-null   float64
 14  username                 2313 non-null   object
dtypes: float64(3), int64(4), object(8)
memory usage: 271.2+ KB

In [14]:
# Menggabungkan seluruh dataframe
df_full = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9], ignore_index=True)
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21449 entries, 0 to 21448
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      21449 non-null  object
 1   created_at               21449 non-null  object
 2   favorite_count           21449 non-null  int64
 3   full_text                21449 non-null  object
 4   id_str                   21449 non-null  float64
 5   image_url                3072 non-null   object
 6   in_reply_to_screen_name  10963 non-null  object
 7   lang                     21449 non-null  object
 8   location                 14647 non-null  object
 9   quote_count              21446 non-null  object
 10  reply_count              21446 non-null  object
 11  retweet_count            21446 non-null  float64
 12  tweet_url                21446 non-null  object
 13  user_id_str              21446 non-null  object
 14  username                 21446 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 2.5+ MB

In [15]:
df_full

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1277725917427585024,Mon Jun 29 22:09:32 +0000 2020,0,@AirAsia @AirAsiaSupport management bahagian s...,1.277726e+18,NaN,airasia,in,"Kuala Lumpur, Malaysia",0,0,0.0,https://x.com/akudiraf/status/1277725917427585024,128763683,akudiraf
1,1277683412518789121,Mon Jun 29 19:20:38 +0000 2020,0,airasia energy,1.277683e+18,NaN,NaN,in,active on @mymelojm,0,0,0.0,https://x.com/jiminiu/status/1277683412518789121,1187764150254166017,jiminiu
2,1277677815379288066,Mon Jun 29 18:58:23 +0000 2020,0,AirAsia touches down in Fukuoka ___ #TravelLoc...,1.277678e+18,NaN,NaN,in,"Kuala Lumpur, Malaysia",0,0,0.0,https://x.com/gayatravel/status/12776778153792...,78217364,gayatravel
3,1277663184338382848,Mon Jun 29 18:00:15 +0000 2020,0,@AirAsia @AirAsiaSupport this is my pnr no LTN...,1.277663e+18,NaN,airasia,in,NaN,0,0,0.0,https://x.com/rufulahmed7861/status/1277663184...,3396102581,rufulahmed7861
4,1277662882084225024,Mon Jun 29 17:59:03 +0000 2020,0,@AirAsiaSupport this is my pnr no LTN8SY. Mera...,1.277663e+18,NaN,AVA_airasia,in,NaN,0,0,0.0,https://x.com/rufulahmed7861/status/1277662882...,3396102581,rufulahmed7861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21444,1798280000000000000.0,Wed Jun 05 08:50:21 +0000 2024,0,@kerupukgendarr untung bukan AirAsia,1.798280e+18,NaN,kerupukgendarr,in,mars,0,0,0.0,https://x.com/ecaacecaa/status/179827615884660...,1449280000000000000.0,ecaacecaa
21445,1798270000000000000.0,Wed Jun 05 08:30:08 +0000 2024,0,AirAsia Kini Buka Laluan Baharu Ke Manado di S...,1.798270e+18,NaN,NaN,in,NaN,0,0,0.0,https://x.com/suarasocial/status/1798271073290...,1682340000000000000.0,suarasocial
21446,1798250000000000000.0,Wed Jun 05 07:39:53 +0000 2024,0,@airasia_indo Buka rute ke Phuket lg dong om,1.798260e+18,NaN,airasia_indo,in,"Jakarta Selatan, DKI Jakarta",0,0,0.0,https://x.com/NNugie/status/1798258424888910007,40217176.0,NNugie
21447,1798250000000000000.0,Wed Jun 05 07:23:20 +0000 2024,0,@airasia_indo ya ampuuuuunnn apa main ke sini ...,1.798250e+18,NaN,airasia_indo,in,nurulnih@gmail.com,0,0,0.0,https://x.com/nurulrahma/status/17982542607713...,59985478.0,nurulrahma
21448,1798250000000000000.0,Wed Jun 05 07:22:13 +0000 2024,4,SAMBUT RUTE BARU AIRASIA: JAKARTA-BANDAR SERI ...,1.798250e+18,https://pbs.twimg.com/media/GPSudliakAAWfv3.jpg,NaN,in,Indonesia,6,4,1.0,https://x.com/airasia_indo/status/179825398127...,113292385.0,airasia_indo

In [18]:
df_full.drop(['conversation_id_str', 'id_str', 'image_url', 'in_reply_to_screen_name', 'lang', 'quote_count', 'user_id_str'], axis=1)

,created_at,favorite_count,full_text,location,reply_count,retweet_count,tweet_url,username
0,Mon Jun 29 22:09:32 +0000 2020,0,@AirAsia @AirAsiaSupport management bahagian s...,"Kuala Lumpur, Malaysia",0,0.0,https://x.com/akudiraf/status/1277725917427585024,akudiraf
1,Mon Jun 29 19:20:38 +0000 2020,0,airasia energy,active on @mymelojm,0,0.0,https://x.com/jiminiu/status/1277683412518789121,jiminiu
2,Mon Jun 29 18:58:23 +0000 2020,0,AirAsia touches down in Fukuoka ___ #TravelLoc...,"Kuala Lumpur, Malaysia",0,0.0,https://x.com/gayatravel/status/12776778153792...,gayatravel
3,Mon Jun 29 18:00:15 +0000 2020,0,@AirAsia @AirAsiaSupport this is my pnr no LTN...,NaN,0,0.0,https://x.com/rufulahmed7861/status/1277663184...,rufulahmed7861
4,Mon Jun 29 17:59:03 +0000 2020,0,@AirAsiaSupport this is my pnr no LTN8SY. Mera...,NaN,0,0.0,https://x.com/rufulahmed7861/status/1277662882...,rufulahmed7861
...,...,...,...,...,...,...,...,...
21444,Wed Jun 05 08:50:21 +0000 2024,0,@kerupukgendarr untung bukan AirAsia,mars,0,0.0,https://x.com/ecaacecaa/status/179827615884660...,ecaacecaa
21445,Wed Jun 05 08:30:08 +0000 2024,0,AirAsia Kini Buka Laluan Baharu Ke Manado di S...,NaN,0,0.0,https://x.com/suarasocial/status/1798271073290...,suarasocial
21446,Wed Jun 05 07:39:53 +0000 2024,0,@airasia_indo Buka rute ke Phuket lg dong om,"Jakarta Selatan, DKI Jakarta",0,0.0,https://x.com/NNugie/status/1798258424888910007,NNugie
21447,Wed Jun 05 07:23:20 +0000 2024,0,@airasia_indo ya ampuuuuunnn apa main ke sini ...,nurulnih@gmail.com,0,0.0,https://x.com/nurulrahma/status/17982542607713...,nurulrahma
21448,Wed Jun 05 07:22:13 +0000 2024,4,SAMBUT RUTE BARU AIRASIA: JAKARTA-BANDAR SERI ...,Indonesia,4,1.0,https://x.com/airasia_indo/status/179825398127...,airasia_indo